<?php
    defined('BASEPATH') OR exit('No direct script access allowed');
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to News</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<style>
	.center-block {
	    float: none;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	html,body{
    	height: 100%;
	}
</style>
<body>
<div class="container-fluid col-lg-8 center-block">
	<div class="row-fluid center-block">
		<nav class="bg-warning">
			<a href="#" class="navbar-collapse">chengX</a>
		</nav>
	</div>
	<div class="row-fluid">
		<!-- 左侧begin -->
		<div class="col-lg-3 bg-info" style="height: 100%">
			<div class="text-center">
				<img width="30%" class="img-circle" style="margin-top: 10px" src="bootstrap/images/wukong.jpg" />
				<h3>chengX</h3>
			</div>
			<div>
				<p>addr:china</p>
				<p>gender:male</p>
				<p>age:20</p>
				<p>hobby:xxx</p>
				<p>skills:</p>
				<p>github:chengxxxx</p>
			</div>
		</div>
		<!-- 左侧end -->
	<!-- 中间begin -->
		<div class="col-lg-9 bg-danger">
				<h3>subtitle1</h3>
				<p>
				总结下来，文本的两个特点，一是时空的间隔，报纸上的文章不是典型的文本，《论语》和《周礼》是。二是缺少直观，敦煌壁画虽然可以作为文本来解读，但与文著相比，就不是典型的文本，因为我们无需掌握任何技术也可以有一点直观上的理解。不消说，能够直接读懂和不能直接读懂绝不像泾和渭那么分明，尤其，当时不是文本的，后来会渐渐成为文本。
				</p>
				<hr />
				<h3>subtitle1</h3>
				<p>
				总结下来，文本的两个特点，一是时空的间隔，报纸上的文章不是典型的文本，《论语》和《周礼》是。二是缺少直观，敦煌壁画虽然可以作为文本来解读，但与文著相比，就不是典型的文本，因为我们无需掌握任何技术也可以有一点直观上的理解。不消说，能够直接读懂和不能直接读懂绝不像泾和渭那么分明，尤其，当时不是文本的，后来会渐渐成为文本。
				</p>
				<hr />
				<h3>subtitle1</h3>
				<p>
				总结下来，文本的两个特点，一是时空的间隔，报纸上的文章不是典型的文本，《论语》和《周礼》是。二是缺少直观，敦煌壁画虽然可以作为文本来解读，但与文著相比，就不是典型的文本，因为我们无需掌握任何技术也可以有一点直观上的理解。不消说，能够直接读懂和不能直接读懂绝不像泾和渭那么分明，尤其，当时不是文本的，后来会渐渐成为文本。
				</p>
				<hr />
				<h3>subtitle1</h3>
				<p>
				总结下来，文本的两个特点，一是时空的间隔，报纸上的文章不是典型的文本，《论语》和《周礼》是。二是缺少直观，敦煌壁画虽然可以作为文本来解读，但与文著相比，就不是典型的文本，因为我们无需掌握任何技术也可以有一点直观上的理解。不消说，能够直接读懂和不能直接读懂绝不像泾和渭那么分明，尤其，当时不是文本的，后来会渐渐成为文本。
				</p>
				<hr />
				<h3>subtitle1</h3>
				<p>
				总结下来，文本的两个特点，一是时空的间隔，报纸上的文章不是典型的文本，《论语》和《周礼》是。二是缺少直观，敦煌壁画虽然可以作为文本来解读，但与文著相比，就不是典型的文本，因为我们无需掌握任何技术也可以有一点直观上的理解。不消说，能够直接读懂和不能直接读懂绝不像泾和渭那么分明，尤其，当时不是文本的，后来会渐渐成为文本。
				</p>
		</div>
	<!-- 中间end-->
	</div>
	<!-- 右侧begin -->
	<!-- <div class="col-lg- bg-primary">
		并非所有娱乐活动、思想活动及其产品都是作品，也并非所有作品都是文本。上面说到，作品脱离了时代仍然具有魅力。但是，斗换星移，江山代谢，随着时空的远隔，那些曾经生机勃勃的作品，越来越难以为我们当下理解，我们需要通过钻研乃至技术手段才能复活结晶在那个作品里的世界，这时候，作品变成了文本。
	</div> -->
	<!-- 右侧end -->
	<!-- 页脚begin -->
	<div class="clearfix"></div>
	<div class="bg-danger text-center">
		copyright
	</div>
	<!-- 页脚end -->
</div>
</body>
</html>